<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   
    <!--  [endif]-->
	
	<!-- Meta -->
   	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <!-- Favicon icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

   <!--  <Google font> -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!--  themify -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">

    <!-- iconfont -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">

    <!-- simple line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/simple-line-icons/css/simple-line-icons.css">

   <!--  Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

   <!--  Chartlist chart css -->
    <link rel="stylesheet" href="/assets/plugins/chartist/dist/chartist.css" type="text/css" media="all">

   <!--  Weather css -->
    <link href="/assets/css/svg-weather.css" rel="stylesheet">


   <!--  Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- Responsive.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

</head>

<body class="sidebar-mini fixed">
  <!--  <div class="wrapper"> -->
      <div class="loader-bg">
         <div class="loader-bar">
         </div>
      </div>
     
      <!-- Side-Nav-->
   		<!-- Navbar-->
		<header th:replace="includes/header :: header"></header>
		<!-- Side-Nav-->
		<div th:replace="includes/navbar :: navbar"></div>
    
      <!-- Sidebar chat end-->
        <div class="content-wrapper"> 
         <!-- Container-fluid starts -->
         <div class="container-fluid">  

            <!-- Header Starts -->
            <!-- Header end -->

            <!-- Tables start -->
            <!-- Row start -->
            <div class="row"> 
             <div class="col-sm-12"> 
                  <!-- Basic Table starts -->
                  <div class="card">
                     <div class="card-header">
                        <h6 class="card-header-text">사원조회 페이지</h6>
                        <!--  <p>Basic example <code>without any additional modification</code> classes</p> -->
                     </div>
                   
                     <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                            	<div id="adv-search"  class="input-group">                            		
				                     <form id="searchForm" th:action="@{/employees}" method="get" th:onsubmit="return searchBoard(this)" class="form-horizontal" role="form">
														<!-- /* 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 */ -->
														<input type="hidden" name="currentPageNo" value="1" />
														<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}" />
														<input type="hidden" name="pageSize" th:value="${params.pageSize}" />
														<div class="form-group">
															<label for="filter" style="float: left;">검색 유형&nbsp;&nbsp;</label>
															<select name="searchType" class="form-control" style="width:100px;">
																<option value="" th:selected="${#strings.isEmpty(params.searchType)}">선택안함</option>
																<option value="empname" th:selected="${#strings.equals(params.searchType, 'empname')}">사원이름</option>
																<option value="deptname" th:selected="${#strings.equals(params.searchType, 'deptname')}">부서</option>
																<option value="phone" th:selected="${#strings.equals(params.searchType, 'phone')}">전화번호</option>
																<option value="annual" th:selected="${#strings.equals(params.searchType, 'annual')}">연차</option>
																<option value="email" th:selected="${#strings.equals(params.searchType, 'email')}">이메일</option>
															</select>
														</div>
														<div class="form-group">
															<label for="contain" style="float: left;">키워드&nbsp;&nbsp;</label>
															<input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}" style="width:100px;"/> 																																																							 												      		
													  </div>
													  <span class="glyphicon glyphicon-search" aria-hidden="true"><input type="submit" name="submit" value="검색" aria-hidden="true"></span> 
											</form>													  			
								  		</div>
								  	
							
							       
                              <table class="table">
                              
                                 <thead>                                 	 
                                    <tr>
                                       <th></th>
                                       <th>사원이름</th>
                                       <th>부서</th>
                                       <th>전화번호</th>
                                       <th>연차</th>
                                       <th>이메일</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr th:if="${not #lists.isEmpty( employeelist )}" th:each="employeelist:${employeelist}">
                                       <td>[[${employeelist.rn}]]</td> 
                                       <td>[[${employeelist.empname}]]</td>
                                       <td>[[${employeelist.deptname}]]</td>
                                       <td>[[${employeelist.phone}]]</td>
                                       <td>[[${employeelist.annual}]]</td>
                                       <td>[[${employeelist.email}]]</td>
     								   <td>
     								   <a href="/employee/"
     								   	 	th:attrappend="href=${employeelist.empno}">
     								   	<i class="icofont icofont-ui-text-chat"></i>
     								   </a>
     								   </td>                                        
                                    </tr>
                                    <tr th:unless="${not #lists.isEmpty( employeelist )}"  >
                                    	<td colspan="5">조회된 결과가 없습니다.</td>                               	
                                    </tr>
                                                                   
                                 </tbody>                                    
                              </table>
                            <div class ="paging">                          
		                           <nav aria-label="Page navigation example" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}">
									  <ul class="pagination">
									    <li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1)} ]])">									    
									    	<a class="page-link" href="javascript:void(0)" aria-label="Previous" aria-hidden="true">
									    	 <<
									    	</a>
									    </li>
									    <li class="page-item" th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1)} ]])">									    
									    	<a class="page-link" href="javascript:void(0)" aria-label="Previous" aria-hidden="true">
									    	 Previous
									    	</a>
									    </li>
									    <li class="page-item"  th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:id="${pageNo == params.currentPageNo} ? 'active'">
									    	<a class="page-link" href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])"></a>
									    </li>
									     <li class="page-item"  th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])">
									     	<a class="page-link" href="javascript:void(0)" aria-label="NEXT" aria-hidden="true">
									    	 NEXT
									    	</a>
									     </li>
									     <li class="page-item" th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]])">
									     	<a class="page-link" href="javascript:void(0)" aria-label="NEXT" aria-hidden="true">
									    	 >>
									    	</a>
									     </li>
									  </ul>								  
									</nav>  
							</div>						
							<div>                   
                           </div>												
	                        </div>
	                     </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
		<th:block layout:fragment="script"> 
			<script th:inline="javascript">						
				function movePage(uri, queryString)  {
					location.href = uri + queryString;
				}
				
				function searchBoard(form) {
					/*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
						if (isEmpty(form) == true) {
						var searchKeyword = document.getElementById("mainSearchKeyword");
						if (isEmpty(searchKeyword.value) == true) {
							alert("키워드를 입력해 주세요.");
							searchKeyword.focus();
							return false;
						}
						
						

						form = document.getElementById("searchForm");
						form.searchKeyword.value = searchKeyword.value;
						form.submit();
					}

					if (isEmpty(form.searchKeyword.value) == true) {
						alert("키워드를 입력해 주세요.");
						form.searchKeyword.focus();
						return false;
					}
				}
				/*[- end of function -]*/
	


			</script>
	   </th:block>                 
   <!-- Warning Section Ends -->
 

   <!-- Required Jqurey -->
   <script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
   <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="/assets/plugins/tether/dist/js/tether.min.js"></script>

   <!-- Required Fremwork -->
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

   <!-- waves effects.js -->
   <script src="/assets/plugins/Waves/waves.min.js"></script>

   <!-- Scrollbar JS-->
   <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script src="/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

   <!--classic JS-->
   <script src="/assets/plugins/classie/classie.js"></script>

   <!-- notification -->
   <script src="/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

   <!-- custom js -->
   <script type="text/javascript" src="/assets/js/main.min.js"></script>
   <script type="text/javascript" src="/assets/pages/elements.js"></script>
   <script src="/assets/js/menu.min.js"></script>
</body>
</html>