<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
<header class="main-header-top hidden-print" th:fragment="header">
    <!-- Sidebar toggle button-->
    <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>

    <a href="/employees" class="logo"><img class="able-logo" src="/assets/images/Logo/MetanetLogo.png"
                                           alt="Theme-logo"></a>
    <nav class="navbar navbar-static-top">
        
        <ul class="top-nav lft-nav">
            <li class="dropdown pc-rheader-submenu message-notification search-toggle">
                <a href="#!" id="morphsearch-search" class="drop icon-circle txt-white">
                    <i class="ti-search"></i>
                </a>
            </li>
             
        </ul>
        <!-- Navbar Right Menu-->
        <div class="navbar-custom-menu f-right">

            <ul class="top-nav">
                <!-- window screen -->
                <li class="pc-rheader-submenu">
                    <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                        <i class="icon-size-fullscreen"></i>
                    </a>

                </li>
                <!-- User Menu-->
                <th:block th:if="${session.info } != null">
                    <li class="dropdown">
                        <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                           class="dropdown-toggle drop icon-circle drop-image">
                        <span><img class="img-circle " src="/assets/images/avatar-1.png" style="width:40px;"
                                   alt="User Image"></span>
                            <span th:text="${session.info.id}"></span><span><i
                                class=" icofont icofont-simple-down"></i></span>

                        </a>
                        <ul class="dropdown-menu settings-menu">
                            <th:block th:if="${session.info.empno } != null">
                            <li><a href="/employee/"
                                   th:attrappend="href=${session.info.empno}"><i
                                    class="icon-user"></i> 내 정보</a>
                            </li>
                            </th:block>
                            <li class="p-0">
                                <div class="dropdown-divider m-0"></div>
                            </li>
                            <li><a href="/logout"><i class="icon-logout"></i> Logout</a></li>
                        </ul>
                    </li>
                </th:block>
            </ul>

            <!-- search -->
            <div id="morphsearch" class="morphsearch">
                <form class="morphsearch-form">

                    <input class="morphsearch-input" type="search" placeholder="Search..."/>

                    <button class="morphsearch-submit" type="submit">Search</button>

                </form>
                <div class="morphsearch-content">
                    <div class="dummy-column">
                        <h2>People</h2>
                        <a class="dummy-media-object" href="#!">
                            <img class="round"
                                 src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G"
                                 alt="Sara Soueidan"/>
                            <h3>Sara Soueidan</h3>
                        </a>

                        <a class="dummy-media-object" href="#!">
                            <img class="round"
                                 src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G"
                                 alt="Shaun Dona"/>
                            <h3>Shaun Dona</h3>
                        </a>
                    </div>
                    <div class="dummy-column">
                        <h2>Popular</h2>
                        <a class="dummy-media-object" href="#!">
                            <img src="/assets/images/avatar-1.png" alt="PagePreloadingEffect"/>
                            <h3>Page Preloading Effect</h3>
                        </a>

                        <a class="dummy-media-object" href="#!">
                            <img src="/assets/images/avatar-1.png" alt="DraggableDualViewSlideshow"/>
                            <h3>Draggable Dual-View Slideshow</h3>
                        </a>
                    </div>
                    <div class="dummy-column">
                        <h2>Recent</h2>
                        <a class="dummy-media-object" href="#!">
                            <img src="/assets/images/avatar-1.png" alt="TooltipStylesInspiration"/>
                            <h3>Tooltip Styles Inspiration</h3>
                        </a>
                        <a class="dummy-media-object" href="#!">
                            <img src="/assets/images/avatar-1.png" alt="NotificationStyles"/>
                            <h3>Notification Styles Inspiration</h3>
                        </a>
                    </div>
                </div>
                <!-- /morphsearch-content -->
                <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
            </div>
            <!-- search end -->
        </div>
    </nav>
</header>
</body>
</html>