<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="codedthemes">
    <meta name="keywords"
          content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="codedthemes">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

    <!-- themify -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">

    <!-- iconfont -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">

    <!-- simple line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/simple-line-icons/css/simple-line-icons.css">

    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- bash syntaxhighlighter css -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/syntaxhighlighter/styles/shCoreDjango.css"/>

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">


</head>

<body class="sidebar-mini fixed">
<div class="wrapper">
    <div class="loader-bg">
        <div class="loader-bar">
        </div>
    </div>
    <!-- Side-Nav-->
    <!-- Navbar-->
    <header th:replace="includes/header :: header"></header>
    <!-- Side-Nav-->
    <div th:replace="includes/navbar :: navbar"></div>

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">

            <!-- Textual inputs starts -->
            <div class="col-sm-12 p-0">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">부서상세</h5>
                        <div class="f-right">
                            <!-- <a href="" data-toggle="modal" data-target="#textual-input-Modal"><i class="icofont icofont-code-alt"></i></a> -->

                        </div>
                        <div class="card-block" th:if="${not #lists.isEmpty( departmentDetailDto )}"
                             th:each="departmentDetailDto:${departmentDetailDto}">
                            <div class="form-group row">
                                <label for="deptname" class="col-xs-2 col-form-label form-control-label">부서명</label>
                                <div class="col-sm-10">
                                    <p class="form-control" id="deptname">[[${departmentDetailDto.deptname}]]</p>
                                </div>
                            </div>
                            <div th:if="${departmentDetailDto.getManager()}">
                                <div class="form-group row">
                                    <label for="deptname" class="col-xs-2 col-form-label form-control-label">부서장</label>
                                    <div class="col-sm-10">
                                        <p class="form-control" id="manager">[[${departmentDetailDto.manager}]]</p>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${departmentDetailDto.getDeptpidname()}">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label form-control-label">상위부서</label>
                                    <div class="col-xs-2 col-form-label form-group">
                                        <p class="form-control" id="deptpidname">
                                            [[${departmentDetailDto.deptpidname}]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <a href="/departments"><button type="button" class="btn btn-success waves-effect waves-light">돌아가기</button></a>
                </div>
            </div>
            <div class="modal fade modal-flex" id="textual-input-Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title">Code Explanation For Textual Input Types </h5>
                        </div>
                        <!-- end of modal-header -->
                        <div class="modal-body">
                            <pre class="brush: html"></pre>


                        </div>
                        <!-- end of modal-body -->
                    </div>
                    <!-- end of modal-content -->
                </div>
                <!-- end of modal-dialog -->
            </div>
            <!-- end of modal -->

            <!-- Textual inputs ends -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Main content ends -->
</div>
<!-- Container-fluid ends -->


<!-- Required Jqurey -->
<script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/plugins/tether/dist/js/tether.min.js"></script>

<!-- Required Fremwork -->
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- waves effects.js -->
<script src="/assets/plugins/Waves/waves.min.js"></script>

<!-- Scrollbar JS-->
<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

<!--classic JS-->
<script src="/assets/plugins/classie/classie.js"></script>

<!-- notification -->
<script src="/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

<!-- Highliter js -->
<script type="text/javascript" src="/assets/plugins/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/assets/plugins/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/assets/plugins/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.all();
</script>

<!-- custom js -->
<script type="text/javascript" src="/assets/js/main.min.js"></script>
<script type="text/javascript" src="/assets/pages/elements.js"></script>
<script src="/assets/js/menu.min.js"></script>

</body>

</html>

